@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .book-label {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
    }

    .scene {
        text-align: center;
        font-size: 0;
    }

    .scene a {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        transition: transform 0.3s;
        transform-origin: bottom center;
    }

    .scene a:hover {
        transform: scale(1.1);
        z-index: 10;
    }

    .scene a img {
        display: block;
    }

    .scene-label {
        font-family: 'Quicksand', sans-serif;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}
